.container {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    // display: grid;
    place-items: center;

    

    form {
        position: relative;
        
        text-align: center;

        background: #fafafa;

        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

        min-width: 265px;
        width: 85%;
        max-width: 500px;

        padding: 1rem 1.25rem;

        .close {
            position: absolute;
            right: 1rem;
            top: 0;

            p{
                cursor: pointer;
                color: black;
            } 
        }

        h2 {
            margin: 1rem auto;
        }

        button {
            border: 0;
            border-radius: 12px;
            
            display: block;

            margin: 1rem auto;
            padding: .5rem 1rem;
            min-width: 200px;

            font-family: Barlowe, sans-serif;
            font-weight: 600;
            font-size: 1rem;

            cursor: pointer;
        }

        select {
            padding: .5rem 1rem;
            max-width: 200px;
            width: 90%;

            option {
                font-family: Barlow, sans-serif;
            }
        }

        input {
            padding: .5rem 1rem;
            font-family: Barlow, sans-serif;
            margin: .5rem;
        }
    }

    span {
        display: block;
        font-size: .75rem;        
    }

    
}


  